<h2 mat-dialog-title appTitleSize>{{ isEditing ? 'Editar Clase' : 'Nueva Clase' }}</h2>
<mat-dialog-content>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="classForm.get('name')?.hasError('required') && (classForm.get('name')?.touched || submitted)">
        El nombre es obligatorio
      </mat-error>
      <mat-error *ngIf="classForm.get('name')?.hasError('minlength') && (classForm.get('name')?.touched || submitted)">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Horario</mat-label>
      <input matInput formControlName="schedule" required>
      <mat-error *ngIf="classForm.get('schedule')?.hasError('required') && (classForm.get('schedule')?.touched || submitted)">
        El horario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Profesor</mat-label>
      <input matInput formControlName="teacher" required>
      <mat-error *ngIf="classForm.get('teacher')?.hasError('required') && (classForm.get('teacher')?.touched || submitted)">
        El profesor es obligatorio
      </mat-error>
      <mat-error *ngIf="classForm.get('teacher')?.hasError('minlength') && (classForm.get('teacher')?.touched || submitted)">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ID del Curso</mat-label>
      <input matInput type="number" formControlName="courseId" required>
      <mat-error *ngIf="classForm.get('courseId')?.hasError('required') && (classForm.get('courseId')?.touched || submitted)">
        El ID del curso es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="classForm.invalid">Guardar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>