<div class="container">
  <h2>Lista de Clases</h2>
  <mat-form-field appearance="fill">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput placeholder="Buscar por nombre" (input)="filterClasses(searchInput.value)" #searchInput>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="openForm()" *ngIf="isAdmin">+ Nueva Clase</button>

  <app-class-list [data]="filteredClasses" [isAdmin]="isAdmin" (editClass)="editClass($event)" (deleteClass)="deleteClass($event)"></app-class-list>
</div>