<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span appTitleSize style="display: flex; align-items: center; gap: 5px;">
    INSTITUTO ACADÉMICO DE CHILE
    <img src="assets/images/Flag_of_Chile.png" alt="Bandera de Chile" style="width: 24px; height: auto;">
  </span>

  <span class="spacer"></span>
  <div *ngIf="authService.isLoggedIn()">
    <button mat-raised-button (click)="authService.logout()">Logout</button>
  </div>
</mat-toolbar>