<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef>RUT</th>
    <td mat-cell *matCellDef="let element">{{ element.rut }}</td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        *ngIf="isAdmin"
        (click)="onEdit(element)"
        aria-label="Editar usuario"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        *ngIf="isAdmin"
        (click)="onDelete(element)"
        aria-label="Eliminar usuario"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onView(element)"
        aria-label="Ver detalles"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
