<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="closeSidenav()">Inicio</a>
  <a mat-list-item routerLink="/students" (click)="closeSidenav()">Alumnos</a>
  <a mat-list-item routerLink="/classes" (click)="closeSidenav()">Clases</a>
  <a mat-list-item routerLink="/courses" (click)="closeSidenav()">Cursos</a>
  <mat-divider></mat-divider>
  <a mat-list-item *ngIf="!authService.isLoggedIn()" routerLink="/login" (click)="closeSidenav()">Login</a>
  <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="authService.logout(); closeSidenav()">Logout</a>
</mat-nav-list>