.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 200px;
  background-color: #f5f5f5;
  transition: width 0.3s ease; 
}

mat-sidenav-content {
  padding: 20px;
  transition: margin-left 0.3s ease; 
}