<h2 mat-dialog-title appTitleSize>{{ isEditing ? 'Editar Curso' : 'Nuevo Curso' }}</h2>
<mat-dialog-content>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="courseForm.get('name')?.hasError('required') && (courseForm.get('name')?.touched || submitted)">
        El nombre es obligatorio
      </mat-error>
      <mat-error *ngIf="courseForm.get('name')?.hasError('minlength') && (courseForm.get('name')?.touched || submitted)">
        Mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" required>
      <mat-error *ngIf="courseForm.get('description')?.hasError('required') && (courseForm.get('description')?.touched || submitted)">
        La descripción es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Créditos</mat-label>
      <input matInput type="number" formControlName="credits" required>
      <mat-error *ngIf="courseForm.get('credits')?.hasError('required') && (courseForm.get('credits')?.touched || submitted)">
        Los créditos son obligatorios
      </mat-error>
      <mat-error *ngIf="courseForm.get('credits')?.hasError('min') && (courseForm.get('credits')?.touched || submitted)">
        Debe ser al menos 1 crédito
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="courseForm.invalid">Guardar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>