<div class="container">
  <h2>Lista de Cursos</h2>
  <mat-form-field appearance="fill">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput placeholder="Buscar por nombre" (input)="filterCourses(searchInput.value)" #searchInput>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="openForm()" *ngIf="isAdmin">+ Nuevo Curso</button>

  <app-course-list [data]="filteredCourses" [isAdmin]="isAdmin" (editCourse)="editCourse($event)" (deleteCourse)="deleteCourse($event)"></app-course-list>
</div>